# Ignore local dependencies
node_modules

# Ignore logs
npm-debug.log
*.log

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore Git
.git

# Ignore development environment files
.vscode
.idea
.fleet 